.container{
    background-color: rgb(229, 247, 229);
    
}
.bg-color{
    background-color: rgb(229, 247, 229);
    
}
.logo-image{
    width: 30%;
    height: 70%;
    margin-top: 10px;
    margin-left: 20px;
}
.nv-margin{
    margin-left: 90px;
}
.sign-button{
    
    background-color: green;
    color: white;
    border-radius: 15px;
    font-weight: 400;
    border: none;
    padding: 4px 12px;
}
.learn{
    color: red;
    margin-top: 30px;
    margin-left: 50px;
}
.p-tag{
    color: green;
    font-weight: 700;

}
.fun{
    font-weight: 700;
    margin-left: 50px;
}
.lorem-para{
    color: gray;
    font-weight: 500;
    margin-left: 50px;
}
.get-button{
    margin-left: 50px;
}
.banner-image{
    width: 80%;
}
.banner-container{
    padding-top: 40px;
height: 400px;
}
.img-cata{
    width:22%;



}
.cat-block{
    background-color: rgb(235, 247, 235);
    height: 250px;
    border-radius: 14px;
   
}

.catagories{
height: 300px;
background-color: white;
margin-top: 40px;

}
.img-shad{
    box-shadow: 0px 10px 20px gray;
    background-color: white;
}
.cat-marg{
margin-top: 20px;
font-weight: 500;
}
.cat-color{
    color: gray;
}

.courses{
    height: 600px;
    background-color: white;
}
.course-image{
    width: 90%;
    
    margin: 18px;
}
.card-radious{
    border-radius: 20px;
}
.footer-img1{
    width: 15%;
    margin-right: 5px;
}
.footer-img2{
    width: 15%;
    margin-left: 25px;
}
.footer-marg{
    margin-top: 50px;

}
.footer-marg2{
margin-top: 50px;

}
.course-button{
    margin-top: 30px;
    font-size: 15px;
    padding: 4px 12px;
    font-weight: 500;
}
.course-heading{
    text-align: center;
    padding-bottom: 30px;
    font-weight: 700;
}

.testimonial{
    height: 300px;
    background-color: white;
}

.man-img{
    width: 25%;
    margin-left: 240px;
}

.test-heading{
    padding-top: 60px;
}
.test-parag{

    font-weight: 500;
    font-size: small;
    color: gray;
}
.last-list{
    height: 250px;
    background-color: black;
}
.head-list{
    color: white;
    list-style-type: none;
    font-weight: 800;
    padding-top: 50px;
}
.child-list{
    color: white;
    list-style-type: none;
    font-weight: 600;
}
.list-paragraph{
    color: white;
    font-weight: 600;
    padding-top: 50px;
    padding-left: 110px;
}

.foot{
    color: white;
    text-align: center;
    font-weight: 600;
    padding-bottom: 30px;
}
.footer-end{
    background-color: black;
}